@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Scripts.Render("~/staticcontents/js")
    @Styles.Render("~/staticcontents/css")
</head>
<body>
<div>
    Coming soon ...
</div>
</body>
</html>
